<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
		<title></title>
		<meta name="description" content="">
		<meta name="viewport" content="width=device-width">
        <link rel="stylesheet" href="/public/stylesheets/reset.css">
        <link rel="stylesheet" href="/public/stylesheets/main.css">

	</head>
	<body>

	<img id="image-1" class="cover">

	<div id="attrib-banner"><!--[Data provided by Marvel] --><span id="attrib-copy"></span></div>
		
	<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1/jquery.min.js"></script>
	<script src="/public/javascripts/modernizr.custom.94612.js"></script>
	<script src="/public/javascripts/app.js"></script>
		
	</body>
</html>
